/* You can add global styles to this file, and also import other style files */
.space-bottom {
    margin-bottom: 10px;
}

.space-top {
    margin-top: 7px;
}

.upper-case{
    text-transform: uppercase;
}